<form action="/edit" method="post">
    <table>
        <tr>
            <td>
                <p>UserID: <input name="p1" type="text" /></p>
                <p>MeetingID: <input name="p2" type="text" /></p>
                <input value="Send" type="submit" />
            </td>
            <td>
                <p>question: <textarea name="qs" rows="50" cols="80"> {{qs}}</textarea></p>
            </td>
            <td>css
                  <textarea rows="50" cols="80" name='css'>{{css}}</textarea>
            </td>
        </tr>
    </table>
</form>