<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
   <h1><div class="title">{{ title }}</div> </h1> <br>
        <img src="{{ big_qr_code }}"class="rightimg">
            Ф.И.О. собственника: <span class="fio">{{ fio }}</span> <br>
            Адрес помещения: город <span class="address">{{ city }}</span>,
            Улица: <span class="address"> {{ street }} </span> Дом: <span class="address">{{ houseNumb }}</span>,<br>
            Квартира: <span class="address">{{ apartment }}</span>,<br>
            Телефон: {{ phoneNumber }}
            Свидетельство о государственной регистрации права собственности: бланк серии {{ formSeries }},
            № {{ formNumber }},
            Дата выдачи: {{ formDateOfIssue }},<br>
            Тип помещения: {{ propertyType }}<br>
            Общая площадь помещения(кв.м): {{ propertyS }}<br>
            Размер доли в праве собственности: {{ share }}<br>
    <h1><div class="title">Вопросы, поставленные на голосование:</div> </h1> <br>
    <div class="title">
        {% for item in item_list %}
            {{ item.qs }}{% if not loop.last %}{% endif %} <br>
            <div class="qsbig">
                <span style="color: white; ">__</span>За<span style="color: white; ">__</span><br>
                <div class="qs">
                    <div><button></button></div>
                </div>
             </div>
            <div class="qsbig">
                Против<br>
                <div class="qs">
                    <div><button></button></div>
                </div>
            </div>
            <div class="qsbig">
                Воздерживаюсь<br>
                <div class="qs">
                    <div><button></button></div>
                </div>
            </div>
            <div class="qs">
                    <div><img src="{{ item.dir }}" ></div>
                </div>
            <br>
        {% endfor %}
        </div>

</body>
</html>