<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .title{
            text-align: center;
        }
        .rightimg  {
            float: right; /* Выравнивание по правому краю  */
        }
        button {
            border: 2px solid black; /* Параметры рамки */
            background: white;
            font-size: 14px; /* Размер текста */
            padding: 10px 20px; /* Поля вокруг текста */
        }
        .qs {
            display:inline-block;
        }

    </style>
</head>
<body>
    <h1><div class="title">{{ title }}</div> </h1> <br>
        <img src="{{ big_qr_code }}"class="rightimg">
            Ф.И.О. собственника: {{ fio }}<br>
            Адрес помещения: город {{ city }},
            Улица: {{ street }} Дом: {{ houseNumb }},<br>
            Квартира: {{ apartment }},<br>
            Телефон: {{ phoneNumber }}<br>
            Свидетельство о государственной регистрации права собственности: бланк серии {{ formSeries }},
            № {{ formNumber }},
            Дата выдачи: {{ formDateOfIssue }},<br>
            Тип помещения: {{ propertyType }}<br>
            Общая площадь помещения(кв.м): {{ propertyS }}<br>
            Размер доли в праве собственности: {{ share }}<br>
    <h1><div class="title">Вопросы, поставленные на голосование:</div> </h1> <br>

        {% for item in item_list %}
            {{ item.qs }}{% if not loop.last %},{% endif %} <br>
        <div class="qs">
                <div><img src="{{ item.dir }}" ></div>
            </div>
            <div class="qs">
                <div>За<br><button></button></div>
            </div>
            <div class="qs">
                <div><img src="{{ item.dir }}"></div>
            </div>
            <div class="qs">
                <div>Против<br><button></button></div>
            </div>
             <div class="qs">
                <div><img src="{{ item.dir }}"></div>
            </div>
            <div class="qs">
               <div>Воздерживаюсь<br><button></button></div>
            </div>

            <br>
        {% endfor %}
</body>
</html>