<ion-view view-title="Home">
    <ion-content padding="true">
        <button class="button button-block" ng-click="takePhoto()">
            Take Photo
        </button>
        <button class="button button-block" ng-click="choosePhoto()">
            Choose Photo
        </button>
        <button class="button button-block" ng-click="uploadPhoto()">
            Upload Photo
        </button>
        <div class="card">
            <div class="item item-text-wrap">
                {{uploadStatus}}
            </div>
        </div>
        <img ng-show="imgURI !== undefined" ng-src="{{picData}}" style="text-align: center">
    </ion-content>
</ion-view>
